.pnf-container {
	  margin: 20px 0px 100px;
}
@media (min-width: 992px) { 
	.pnf-container {
	  margin: 60px 0px 100px;
	}
}
.pnf-content {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}
.pnf-icon {
  font-size: 8rem;
  color: tomato;
}