<div class="view-tractor-container">
	<h1>
		Tractor Entry
	</h1>
	<hr/>
	<div class="data-loader" *ngIf="isTractorDataLoading || (tractorData | json) == '{}'">
      	<i class='fa fa-spinner fa-spin fs4' *ngIf="isTractorDataLoading"></i>
	  	<span class='fs2' *ngIf="(tractorData | json) == '{}'">No Data found</span>
	</div>
    <div *ngIf="!(isTractorDataLoading || (tractorData | json) == '{}')">
    	<div class="clearfix" *ngIf="!isEditMode">
	    	<div class="pull-right delete-icon" (click)="openModal()" tabindex="0">
	    		<i class='fa fa-trash'></i>
		  		<span>Delete</span>
	    	</div>
	    	<div class="pull-right edit-icon" (click)="editEntry()" tabindex="0">
	    		<i class='fa fa-pencil'></i>
		  		<span>Edit</span>
	    	</div>
    	</div>
    	<div class="row">
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Name</h6>
    			<span>{{tractorData.name}}</span>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Job Type</h6>
    			<span>{{tractorData.jobType}}</span>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Phone</h6>
    			<span>{{tractorData.phone}}</span>
    		</div>
    	</div>
    	<div class="row" *ngIf="!isEditMode">
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Starting Unit</h6>
    			<span>{{tractorData.startingUnit}}</span>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Ending Unit</h6>
    			<span>{{tractorData.endingUnit}}</span>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Total Units</h6>
    			<span>{{tractorData.totalUnits}}</span>
    		</div>
    	</div>
    	<div class="row mt30" *ngIf="isEditMode">
    		<div class="col-xs-6 col-md-3 form-group">
		        <label for="startingunit">Starting Unit</label>
		      	<input type="text" name="startingunit" id="startingunit" class="form-control" #startingunit="ngModel" [(ngModel)]="editData.startingUnit" (ngModelChange)="calculateUnit()" placeholder="Unit" ngModel required pattern="[0-9]*">
		      	<field-error [control]="startingunit" customerror="Numbers Only!!"></field-error>
		    </div>
		    <div class="col-xs-6 col-md-3 form-group">
		        <label for="endingunit">Ending Unit</label>
		      	<input type="text" name="endingunit" id="endingunit" class="form-control" #endingunit="ngModel" [(ngModel)]="editData.endingUnit" (ngModelChange)="calculateUnit()" placeholder="Unit" ngModel required pattern="[0-9]*">
		      	<field-error [control]="endingunit" customerror="Numbers Only!!"></field-error>
		    </div>
		    <div class="col-xs-6 col-md-3 form-group">
		        <label for="totalunits">Total Unit</label>
		      	<input type="text" name="totalunits" [readonly]="true" id="totalunits" class="form-control" #totalunits="ngModel" [(ngModel)]="editData.totalUnits" placeholder="Units" ngModel required pattern="[0-9]*">
		      	<field-error [control]="totalunits" customerror="Invalid Starting and Ending Unit!!"></field-error>
		    </div>
    	</div>
    	<div class="row" *ngIf="tractorData.jobType !== 'Grass Baler' && !isEditMode">
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Units Chargeable</h6>
    			<span>{{tractorData.chargeableUnits}}</span>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Cost/Unit</h6>
    			<span>{{tractorData.costPerUnit}}</span>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Amount</h6>
    			<span>{{tractorData.amount}}</span>
    		</div>
    	</div>
    	<div class="row" *ngIf="tractorData.jobType !== 'Grass Baler' && isEditMode">
    		<div class="col-6 col-sm-6 col-md-3 form-group">
    			<label for="unitschargeable">Units Chargeable</label>
		      	<input type="text" name="unitschargeable" id="unitschargeable" class="form-control" #unitschargeable="ngModel" [(ngModel)]="editData.chargeableUnits" (ngModelChange)="calculateTractorAmount()" placeholder="Units" ngModel required pattern="[0-9.]*">
		      	<field-error [control]="units-chargeable" customerror="Numbers with decimal point!!"></field-error>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 form-group">
    			<label for="costPerUnit">Cost/Unit</label>
		        <div class="input-group">
					<div class="input-group-prepend">
				    	<span class="input-group-text">₹</span>
				  	</div>
		      		<input type="text" name="costPerUnit" id="costPerUnit" class="form-control" #costPerUnit="ngModel" [(ngModel)]="editData.costPerUnit" (ngModelChange)="calculateTractorAmount()" placeholder="cost per unit" ngModel required pattern="[0-9]*">
		      	</div>
		      	<field-error [control]="costPerUnit" customerror="Numbers with decimal point!!!!"></field-error>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 form-group">
    			<label for="inputAmount">Total Cost</label>
				<div class="input-group">
					<div class="input-group-prepend">
				    	<span class="input-group-text">₹</span>
				  	</div>
					<input type="text" name="amount" [readonly]="true"  id="inputAmount" class="form-control" #amount="ngModel" [(ngModel)]="editData.amount" placeholder="Transaction Amount" ngModel required pattern="[0-9.]*">
				</div>
				<field-error [control]="amount" customerror="Invalid roll count or cost/roll!!"></field-error>
    		</div>
    	</div>
    	<div class="row" *ngIf="tractorData.jobType === 'Grass Baler'  && !isEditMode">
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>No of Rolls</h6>
    			<span>{{tractorData.noOfRolls}}</span>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Cost/Roll</h6>
    			<span>{{tractorData.costPerRoll}}</span>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Amount</h6>
    			<span>{{tractorData.amount}}</span>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Driver Expense</h6>
    			<span>{{tractorData.driverExpense}}</span>
    		</div>
    	</div>
    	<div class="row" *ngIf="tractorData.jobType === 'Grass Baler'  && isEditMode">
    		<div class="col-6 col-sm-6 col-md-3 form-group">
    			<label for="noOfRolls">No of Rolls</label>
		      	<input type="text" name="noOfRolls" id="noOfRolls" class="form-control" #noOfRolls="ngModel" [(ngModel)]="editData.noOfRolls" (ngModelChange)="calculateTractorAmount()" placeholder="No of Rolls" ngModel required pattern="[0-9.]*">
		      	<field-error [control]="noOfRolls" customerror="Numbers with decimal point!!"></field-error>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 form-group">
    			<label for="costPerRoll">Cost/Roll</label>
		        <div class="input-group">
					<div class="input-group-prepend">
				    	<span class="input-group-text">₹</span>
				  	</div>
		      		<input type="text" name="costPerRoll" id="costPerRoll" class="form-control" #costPerRoll="ngModel" [(ngModel)]="editData.costPerRoll" (ngModelChange)="calculateTractorAmount()" placeholder="cost per roll" ngModel required pattern="[0-9.]*">
		      	</div>
		      	<field-error [control]="costPerRoll" customerror="Numbers only!!"></field-error>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 form-group">
    			<label for="inputAmount">Total Cost</label>
				<div class="input-group">
					<div class="input-group-prepend">
				    	<span class="input-group-text">₹</span>
				  	</div>
					<input type="text" name="amount" [readonly]="true"  id="inputAmount" class="form-control" #amount="ngModel" [(ngModel)]="editData.amount" placeholder="Transaction Amount" ngModel required pattern="[0-9.]*">
				</div>
				<field-error [control]="amount" customerror="Invalid roll count or cost/roll!!"></field-error>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 form-group">
    			<label for="driverExpense">Drivers Expense</label>
				<div class="input-group">
					<div class="input-group-prepend">
				    	<span class="input-group-text">₹</span>
				  	</div>
					<input type="text" name="driverExpense" id="driverExpense" class="form-control" #driverExpense="ngModel" [(ngModel)]="editData.driverExpense" placeholder="Driver Expense" ngModel required pattern="[0-9.]*">
				</div>
				<field-error [control]="driverExpense" customerror="Numbers with decimal point!!"></field-error>
    		</div>
    	</div>
    	<div class="row" *ngIf="!isEditMode">
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Entry On</h6>
    			<span>{{tractorData.eventOn.date + '-' + tractorData.eventOn.month + '-' + tractorData.eventOn.year}}</span>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 mt30">
    			<h6>Created On</h6>
    			<span>{{moment(tractorData.dateCreated).format("DD-MM-YYYY")}}</span>
    		</div>
    		<div class="col-6 col-sm-6 col-md-3 mt30" *ngIf="tractorData.updatedOn">
    			<h6>Last Updated On</h6>
    			<span>{{moment(tractorData.updatedOn).format("DD-MM-YYYY")}}</span>
    		</div>
    	</div>
    	<div class="row" *ngIf="isEditMode">
    		<div class="col-xs-12 col-md-6 form-group">
	        <label>Date</label>
	      	<div class="input-group">
	      		<input type="text" name="date" class="form-control col-4" [(ngModel)]="editData.eventOn.date" pattern="[0-9]{2,2}$" ngModel #date="ngModel"  placeholder="Date" required>
			  	<div class="input-group-prepend">
			    	<span class="input-group-text">/</span>
			  	</div>
			  	<input type="text" name="month" class="form-control col-4" [(ngModel)]="editData.eventOn.month" pattern="[0-9]{2,2}$" ngModel #month="ngModel" placeholder="Month" required>
			  	<div class="input-group-prepend">
			    	<span class="input-group-text">/</span>
			  	</div>
			  	<input type="text" name="year" class="form-control col-4" [(ngModel)]="editData.eventOn.year" pattern="[0-9]{4,4}$" ngModel #year="ngModel" placeholder="Year" required>
			</div>
			<field-error [control]="date" customerror="Invalid Date - Numbers only!!! (00-31)"></field-error>
			<field-error [control]="month" customerror="Invalid Month - Numbers Only!!!(00-12)"></field-error>
			<field-error [control]="year" customerror="Invalid Year - Numbers only"></field-error>
		</div>
    	</div>
    	<div class="row" *ngIf="!isEditMode">
    		<div class="col-xs-12 col-md-6 mt30">
    			<h6>Address</h6>
    			<span>{{tractorData.address}}</span>
    		</div>
    		<div class="col-xs-12 col-md-6 mt30">
    			<h6>Remarks</h6>
    			<span>{{tractorData.remarks ? tractorData.remarks : 'Not Available'}}</span>
    		</div>
    	</div>
    	<div class="row" *ngIf="isEditMode">
    		<div class="col-xs-12 col-md-12 form-group">
				<label for="address">Address</label>
				<input type="text" name="address" id="address" class="form-control" #name="ngModel" [(ngModel)]="editData.address" placeholder="Address" ngModel required minlength="4" maxlength="80" pattern="[a-zA-Z0-9 \-,]*">
		      	<field-error [control]="name" customerror="Only characters with space , and - allowed"></field-error>
		    </div>
    		<div class="col-xs-12 col-md-12 form-group">
				<label for="inputRemarks">Remarks(Optional)</label>
				<input type="text" name="remarks" id="inputRemarks" class="form-control" [(ngModel)]="editData.remarks">
		    </div>
    	</div>
    </div>
    <div *ngIf="isEditMode">
    	<hr class="mt30" />
    	<button type="button" [disabled]="isEditInProgress" class="btn btn-success ml15 btn-lg pull-right" (click)="cancelEdit()">Cancel</button>
    	<button type="button" [disabled]="isEditInProgress || isEditDataChanged()" class="btn btn-success btn-lg ml15 pull-right" (click)="updateEntry()"><i class='fa fa-spinner fa-spin' *ngIf="isEditInProgress"></i>{{isEditInProgress ? ' Updating...' : 'Update'}}</button>
    </div>

    <div class="backdrop" [ngClass]="{'show-backdrop': isModalActive}"></div>
	<!-- Modal -->
	<div class="modal fade" [ngClass]="{'show enableModal': isModalActive}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="deleteModalLabel">{{isDeleteSuccess ? 'Confirmation' : 'Confirm Delete'}}</h5>
	        <button type="button" class="close" aria-label="Close" *ngIf="!isDeleteInProgress">
	          <span aria-hidden="true" (click)="closeModal()">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        {{isDeleteSuccess ? 'Successfully Deleted the entry!!' : 'You sure want to delete this Entry?'}}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-success" [disabled]="isDeleteInProgress" (click)="closeModal()">{{isDeleteSuccess ? 'Ok' : 'Close'}}</button>
	        <button type="button" [disabled]="isDeleteInProgress" *ngIf="!isDeleteSuccess" class="btn btn-success" (click)="deleteEntry()"><i class='fa fa-spinner fa-spin' *ngIf="isDeleteInProgress"></i>{{isDeleteInProgress ? ' Deleting...' : 'Yes, Delete'}}</button>
	      </div>
	    </div>
	  </div>
	</div>
	
</div>
