/* You can add global styles to this file, and also import other style files */
html {
	height: 100%;
}
body {
	min-height: 100%;
}
.body-container {
    padding: 55px 15px 0;
}
/* input error border on field errors */
input.ng-invalid.ng-touched {
  border: 1px solid #dc3545 !important;
}

/** Custom radio button styles */
input[type=radio] { display:none; } /* to hide the checkbox itself */
input[type=radio] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=radio] + label:before { content: "\f096"; } /* unchecked icon */
input[type=radio] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=radio]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=radio]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */